{% extends 'users/layout.twig' %}

{% block body %}

    <h1>Inscription</h1>
    <div class="container">
        <form  action="#" class="form" method="post">
            <input type="text" class="form-control" name="username" placeholder="username">
            <input type="password" class="form-control" name="password" placeholder="password">
            <input type="text" class="form-control" name="email" placeholder="email">
            <button class="btn btn-danger" type="submit">Valider</submit>
        </form>
    </div>

{% endblock %}