{% extends 'layout.twig' %}

{% block footer %}
    <div class="container">
        <div class="mb-3 row">
            <div class="col-4">
                <span class="social-item">
                    <i class="fa fa-facebook-official"></i>
                </span>
                <span class="social-item">
                    <i class="fa fa-instagram"></i>
                </span>
                <span class="social-item">
                    <i class="fa fa-twitter"></i>
                </span>
                <span class="social-item">
                    <i class="fa fa-youtube"></i>
                </span>
            </div>
        </div>

        <div class="mb-3 row">
            <div class="col-2">
                <p>Audio Description</p>
            </div>
            <div class="col-2">
                <p>Help Center</p>
            </div>
            <div class="col-2">
                <p>Media Center</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <p>Jobs</p>
            </div>
            <div class="col-2">
                <p>Term of use</p>
            </div>
            <div class="col-2">
                <p>Privacy</p>
            </div>
        </div>

        <div class="row">
            <div class="col-1">
                <button>Service</button2
            </div>
        </div>
    </div>
{% endblock %}