 {% extends 'layout.twig' %}

 {% block body %}

 <div class="container">
      <section class="movies">
        <h2>Récemment ajoutés</h2>
        <article>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/1.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/2.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/3.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/4.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/5.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/6.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
        </article>
      </section>
      <section class="movies">
        <h2>Films d'action</h2>
        <article>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/7.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/8.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/9.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/10.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/5.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
          <div class="movie">
            <a href="">
              <img src="/uploads/movies/6.webp">
                <div class="movie__overlay">
                  <span>La Reine des dâmes</span>
                </div>
            </a>
          </div>
        </article>
      </section>
    </div>

    <footer class="center size-90">
      <p>
        Questions? Call <a href="tel:900 866 617">900 866 617</a>
      </p>

      <ul class="columns flex-wrap">
        <li class="column is-25">
          <a href="https://help.netflix.com/support/412"><span>FAQ</span></a>
        </li>
        <li class="column is-25">
          <a href="https://help.netflix.com"><span>Help Center</span></a>
        </li>
        <li class="column is-25">
          <a href="https://www.netflix.com/yourAccount"><span>Account</span></a>
        </li>
        <li class="column is-25">
          <a href="https://media.netflix.com/"><span>Media Center</span></a>
        </li>
        <li class="column is-25">
          <a href="http://ir.netflix.com/"><span>Investor Relations</span></a>
        </li>
        <li class="column is-25">
          <a href="https://jobs.netflix.com/jobs"><span>Jobs</span></a>
        </li>
        <li class="column is-25">
          <a href="https://www.netflix.com/redeem"><span>Gift Cards</span></a>
        </li>
        <li class="column is-25">
          <a href="https://www.netflix.com/watch"><span>Ways to Watch</span></a>
        </li>
        <li class="column is-25">
          <a href="https://help.netflix.com/legal/termsofuse"><span>Terms of Use</span></a>
        </li>
        <li class="column is-25">
          <a href="https://help.netflix.com/legal/privacy"><span>Privacy</span></a>
        </li>
        <li class="column is-25">
          <a href="https://help.netflix.com/legal/privacy#cookies"><span>Cookie Preferences</span></a>
        </li>
        <li class="column is-25">
          <a href="https://fast.com"><span>Speed Test</span></a>
        </li>
        <li class="column is-25">
          <a href="https://www.netflix.com/es-en/originals"><span>Netflix Originals</span></a>
        </li>
      </ul>

      <div id="lang-selection">
        <i class="fa fa-globe" aria-hidden="true"></i>
        <select tabindex="0">
          <option value="es">Español</option>
          <option selected value="fr">Français</option>
        </select>
      </div>

      <p id="company">Netflix France</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="public/js/app.js"></script>
  </body>
{% endblock %}